[submodule "deps/polyscope"]
	path = deps/polyscope
	url = https://github.com/nmwsharp/polyscope.git
[submodule "deps/tetgen"]
	path = deps/tetgen
	url = https://github.com/libigl/tetgen.git
[submodule "deps/libigl"]
	path = deps/libigl
	url = https://github.com/libigl/libigl
[submodule "deps/geometry-central"]
	path = deps/geometry-central
	url = https://github.com/nmwsharp/geometry-central.git
